@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
from,
label,
legend,
table,
caption,
tbody,
thead,
tr,
th,
input,
td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
    outline: 0;
    background: transparent;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 62.5%;
}

hr,
.hide {
    display: none;
}

a img {
    border: none;
}

.group:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

*html#selector {
    filter: progid:DXImageTransform.Microsoft.AlphaImageloader(enabled=true, sizingMethod=scale src='img/image.png');
    background-image: none;
    background-repeat: no-repeat;
    background-color: transparent;
}

*html.group {
    height: 1%;
}

*:first-child+html.group {
    min-height: 1px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.none {
    display: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}
